wegagui/webroot/tmp/**
wegagui/config/**
!wegagui/config/example
!wegagui/config/example/example.conf.php
wega-api/*
!wega-api/mixerdb.php.example
!wega-api/wegabox.php.example
db.php
wega-slim/vendor/
wega-slim/log/*
wega-slim/cache/*
wega-slim/.env
