.right {
    margin-left: auto;
}
.login-form{
    max-width: 600px;
}
.logo {
	background: url('/static/images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}
.container{
	overflow-x: auto;
}

#id_matrix-ca-n, #id_matrix-ca-p,  #id_matrix-ca-k,  #id_matrix-ca-mg, #id_matrix-mg-k, #id_matrix-mg-ca, #id_matrix-p-k,
#id_matrix-p-ca, #id_matrix-n-k,  #id_matrix-n-ca, #id_matrix-k-mg {
	color: blue;
}

#id_matrix-n-mg, #id_matrix-p-mg, #id_matrix-mg-p  {
	color: limegreen;
}

.container-fluid{padding: 0;}
.col-1-w{
	width: 10.0%!important;
}
.mt-50{
	margin-top: 65%;
}


input.precalc[type='number']{
    width: 90px;
	height: 25px;
}



.first-matrix-row {
	height: 30px;
}

.first-macro-row {
	height: 60px;
}

.salts > .row, .second-matrix-row {
	height: 30px;
}
.height-30{
		height: 30px;
}

.salt-row:hover{
	background-color: darkgrey;
	opacity: 0.8;
}


.w-salt-name{
	width:355px;
}

.col-2{
	width: 12.67% !important;
}

.hpg-green{
	background-color: #c0dcc0;
}


@media screen and (min-width: 1024px) {

	input.precalc[type='number']{
	width: 85px;
	height: 25px;
	}
	.macro-salt > input.precalc[type='number']{
	width: 95px;
	height: 25px;
	}
	.salt-formula{ display: none;}
	.salt-name-formula{display: inline-block;}
}

@media screen and (min-width: 768px) and  (max-width: 1024px){
	input.precalc[type='number']{
	width: 70px;
	height: 25px;
	}
	.macro-salt > input.precalc[type='number']{
	width: 90px;
	height: 25px;
	}
	.salt-formula{ display: inline-block;}
	.salt-name-formula{display: none}
	.col-1{    width: 11%;}
}

@media screen and (max-width: 768px)  {
	input.precalc[type='number']{
	width: 70px;
	height: 25px;
	}
	.macro-salt > input.precalc[type='number']{
	width: 90px;
	height: 25px;
	}
	.salt-formula{ display: inline-block;}
	.salt-name-formula{display: none}
	.col-1{    width: 11%;}

}



