.right {
    margin-left: auto;
}
.login-form{
    max-width: 600px;
}
.logo {
	background: url('/static/images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}
.container{
	overflow-x: auto;
}

.container-fluid{padding: 0;}
.col-1-w{
	width: 10.0%!important;
}
.mt-50{
	margin-top: 65%;
}


input.precalc[type='number']{
    width: 90px;
	height: 25px;
}

.salts > .row {
	height: 40px;
}

.salt-row:hover{
	background-color: darkgrey;
	opacity: 0.8;
}



@media screen and (min-width: 1024px) {
	input.precalc[type='number']{
	width: 80px;
	height: 25px;
	}
	.macro-salt > input.precalc[type='number']{
	width: 95px;
	height: 25px;
	}
	.salt-formula{ display: none;}
	.salt-name-formula{display: inline-block;}
}

@media screen and (min-width: 768px) and  (max-width: 1024px){
	input.precalc[type='number']{
	width: 70px;
	height: 25px;
	}
	.macro-salt > input.precalc[type='number']{
	width: 90px;
	height: 25px;
	}
	.salt-formula{ display: inline-block;}
	.salt-name-formula{display: none}
	.col-1{    width: 11%;}
}

@media screen and (max-width: 768px)  {
	input.precalc[type='number']{
	width: 70px;
	height: 25px;
	}
	.macro-salt > input.precalc[type='number']{
	width: 90px;
	height: 25px;
	}
	.salt-formula{ display: inline-block;}
	.salt-name-formula{display: none}
	.col-1{    width: 11%;}

}



