{% load getattr %}
<div class="container">
    <h1 class="text-center">{{ title }}</h1>

    <div class="row">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    </div>
    <div class="row">
        <form action="{% url "plant_profile_edit" instance.pk %}" novalidate method="post"
              class="  m-auto d-flex justify-content-between"
              id="form-{{ instance.pk }}--{% if micro %}micro{% endif %}{% if macro %}macro{% endif %}">
            <input type="hidden" name="pk" id="pk" value="{{ instance.pk }}">

            <div class="row">
                {% csrf_token %}
                     {% if macro or micro %}
                        <div class="row">
                            <div class="mb-3  col-lg-3 p-1">
                                <label for="{{ form.name.label.id_for_label }}"
                                       class="form-label">{{ form.name.label }}</label>
                                {{ form.name }}
                                <div class="error">{{ form.name.errors }}</div>
                            </div>
                            {% if macro %}
                                <div class="mb-3  col-lg-3 p-1">
                                    <label for="{{ form.calc_mode.label.id_for_label }}"
                                           class="form-label">{{ form.calc_mode.label }}</label>
                                    {{ form.calc_mode }}
                                    <div class="error">{{ form.calc_mode.errors }}</div>
                                </div>
                            {% else %}
                                <div class="mb-3  col-lg-3 p-1">
                                    <label for="{{ form.micro_calc_mode.label.id_for_label }}"
                                           class="form-label">{{ form.micro_calc_mode.label }}</label>
                                    {{ form.micro_calc_mode }}
                                    <div class="error">{{ form.micro_calc_mode.errors }}</div>
                                </div>
                            {% endif %}



                            <div class="mb-3  col-lg-1 p-1">
                                <label for="{{ form.litres.label.id_for_label }}"
                                       class="form-label">{{ form.litres.label }}</label>
                                {{ form.litres }}
                                <div class="error">{{ form.litres.errors }}</div>
                            </div>
                            <div class="mb-3  col-lg-2 p-1">
                                <label for="">Солей в граммах:</label>
                                <label id="id_salt_grams"
                                       class="form-label precalc"> {{ instance.sum_salt_grams|hpg_float_format }}</label>
                            </div>


                        </div>

                        <div class="row">
                            <p class="npk-bold precalc" id="id_npk_formula">{{ instance.calc_npk_formula }}</p>
                            <p class="npk-bold precalc" id="id_npk_magazine">{{ instance.get_npk_magazine }}</p>


                        </div>
                    {% endif %}
                {% if macro %}

                    <div class="row">


                        <div class="row">
                            <h5 class=" ">Макропрофиль в мг/л (ppm)</h5>
                        </div>
                        <div class="row  first-macro-row">

                            {% for f in form %}

                                {% if f.name in instance.macro  and   f.name != 'no3' and f.name != 'nh4' %}

                                    {% if f.name == 'n' %}
                                        <div class="mb-3 w-auto w-113 col-6 col-sm-2 col-lg-2 p-1 macro-col-lg-w macro-salt text-center">
                                            <div class="col-12">
                                                <div class="col-6 n-margin">
                                                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                                {{ f }}
                                                </div>
                                            </div>
                                        <div class="col-12">


                                         {% for f in form %}
                                            {% if   f.name == 'no3' %}
                                                    <div class="w-113 w-auto col-12 p-0 pt-1   text-center">
                                                        <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                                        {{ f }}
                                                    </div>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                        <div class="col-12">
                                            {% for f in form %}
                                                {% if   f.name == 'nh4' %}
                                                    <div class="w-113 w-auto col-6 p-0 pt-1  text-center">
                                                        <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                                        {{ f }}
                                                    </div>


                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        </div>
                                        {% elif f.name == 'p' %}
                                            <div class="mb-3 w-113 col-3 col-sm-1 col-lg-1 p-1 macro-col-lg-w macro-salt text-center">
                                                <div class="col-12">

                                                     <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                                    {{ f }}
                                                    <div class="error">{{ f.errors }}</div>

                                                </div>


                                            <div class=" mt-38 col-lg-1 p-1  macro-salt text-center">
                                <input type="number" name="nh4_nh3_ratio"
                                       value="{{ instance.nh4_nh3_ratio|hpg_float_format }}" step="0.01"
                                       class="form-control d-inline-block precalc hpg-green" required=""
                                       id="id_nh4_nh3_ratio">


                                <div class="error">{{ form.nh4_nh3_ratio.errors }}</div>
                            </div>

                                    </div>




                                         {% elif f.name == 'k' %}
                                         <div class="mb-3 w-113 col-3 col-sm-1 col-lg-1 p-1 macro-col-lg-w macro-salt text-center">
                                            <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                            {{ f }}
                                            <div class="error">{{ f.errors }}</div>

                                             <label for="{{ form.nh4_nh3_ratio.label.id_for_label }}"
                                                       id="id_name-nh4_nh3_ratio"
                                                       class="form-label mt-38">{{ form.nh4_nh3_ratio.label }}</label>
                                        </div>




                                    {% else %}

                                    <div class="mb-3 w-113 col-3  col-sm-1 col-lg-1 p-1 macro-col-lg-w macro-salt text-center">
                                        <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                        {{ f }}
                                        <div class="error">{{ f.errors }}</div>
                                    </div>
                                    {% endif %}


                                {% endif %}


                            {% endfor %}

                            <div class="mb-3 col-2 col-sm-1  p-1 text-center">
                                <label class="form-label">ЕС</label>


                                <input type="number" name="ec" value="{{ instance.calc_ec|hpg_float_format }}"
                                       step="0.01"
                                       class="form-control d-inline-block precalc hpg-green" required=""
                                       id="id_ec">

                            </div>






                        </div>



                        <div class="row">
                            <h5 class=" ">Соотношения элементов</h5>
                        </div>
                        <div class="row matrix">

                            {% for row in  instance.get_matrix %}

                                <div class="row salt-row {% if forloop.first %}first-matrix-row{% else %}second-matrix-row{% endif %}">
                                    {% for elem, val in row.items %}

                                        {% if forloop.first %}
                                            <div class="text-center col-1 w-matrix col-lg-1">
                                                <label for="id_matrix-{{ elem }}-{{ instance.macro_matrix|index:forloop.parentloop.counter0  }}"
                                                       class=" form-label d-block p-1    {% if forloop.parentloop.first %}label-margin-t{% endif %} ">
                                                    {{ instance.macro_matrix|index:forloop.parentloop.counter0|title }}
                                                </label>
                                            </div>
                                        {% endif %}

                                        {% if forloop.parentloop.first    %}
                                                 <div class="mb-1 text-center col-1  w-matrix  col-lg-1 p-1">
                                                 <div class="col-12">{{ instance.macro_matrix|index:forloop.counter0|title }}</div>
                                                <div class="col-12">
                                                {% with instance.macro_matrix|index:forloop.parentloop.counter0 as parent_elem %}
                                                    <input type="number"
                                                           name="matrix-{{ elem }}-{{ parent_elem }}"
                                                           id="id_matrix-{{ elem }}-{{ parent_elem }}"
                                                           value="{{ val|hpg_float_format }}"
                                                           step="0.01"
                                                           class="form-control d-inline-block precalc matrix {% if elem == 'k' %} {% if parent_elem == 'n' or parent_elem == 'mg' or parent_elem == 'ca' %}hpg-green{% endif %}{% endif %}"
                                                           {% if forloop.parentloop.counter == forloop.counter %}disabled{% endif %}
                                                           required="" id="id_matrix-{{ elem }}-
                                                    {{ parent_elem }}">
                                                {% endwith %}
                                                </div>
                                            </div>
                                            {% else %}

                                               <div class="mb-1 text-center col-1  w-matrix  col-lg-1 p-1">

                                                {% with instance.macro_matrix|index:forloop.parentloop.counter0 as parent_elem %}
                                                    <input type="number"
                                                           name="matrix-{{ elem }}-{{ parent_elem }}"
                                                           id="id_matrix-{{ elem }}-{{ parent_elem }}"
                                                           value="{{ val|hpg_float_format }}"
                                                           step="0.01"
                                                           class="form-control d-inline-block precalc matrix {% if elem == 'k' %} {% if parent_elem == 'n' or parent_elem == 'mg' or parent_elem == 'ca' %}hpg-green{% endif %}{% endif %}"
                                                           {% if forloop.parentloop.counter == forloop.counter %}disabled{% endif %}
                                                           required="" id="id_matrix-{{ elem }}-
                                                    {{ parent_elem }}">
                                                {% endwith %}
                                            </div>


                                            {% endif %}


                                    {% endfor %}
                                </div>

                            {% endfor %}

                        </div>


                        <div class="row">
                            <h5>Соли</h5>
                        </div>
                        <div class="row salts">

                            {% for comon, salt_data in instance.get_salt_dict.items %}
                                <div class="row salt-row">
                                    <div class="col-12 col-lg-4 d-sm-flex pt-2 justify-content-start salt_name w-salt-name">
                                        <span id="id_name-{{ comon }}"
                                              class="salt-name-formula">{{ salt_data.name }} {{ salt_data.formula }}</span>
                                    </div>
                                    {% for salt in salt_data.salt %}
                                        {% with form|get_field_from_form:salt as f %}
                                            <div class="mb-1 salt-percent {% if f.name == 'name' %}col-lg-12{% else %}col-lg-2 col-xs-{% endif %}
                                             p-1 d-flex align-items-center w-elem">
                                                <div class="col-1 col-lg-2 w-18  ">
                                                    <label for="{{ f.id_for_label }}"
                                                           class="form-label mb-0">{{ f.label|second_part }}</label>
                                                </div>
                                                <div class="col-1 col-lg-2 ">
                                                     {{ f }}
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endfor %}
                                    {% if salt_data.salt|length == 2 %}
                                        <div class="mb-1 d-none  d-sm-flex text-center col-lg-3 p-1 w-elem"></div>
                                    {% endif %}
                                    <div class="mb-1 text-center col-1 p-1 d-flex align-items-center justify-content-between">

                                        <input type="number" name="{{ comon }}"
                                               value="{{ instance|getattribute:comon|hpg_float_format }}"
                                               step="0.01" class="form-control d-inline-block precalc" required=""
                                               {% if comon == 'kno3' and instance.calc_mode == 'Mg' %}disabled{% endif %}
                                               {% if comon == 'mgno3' and instance.calc_mode == 'K' %}disabled{% endif %}
                                               id="id_{{ comon }}">
                                    </div>
                                </div>

                            {% endfor %}


                        </div>


                    </div>
                {% endif %}
                 {% if micro %}
                    <div class="row">


                        <div class="row">
                            <h5 class=" ">Микропрофиль в <span class="text-danger">мкг/л</span> (ppm)</h5>
                        </div>
                        <div class="row row-cols-auto first-macro-row">
                            <div class="col-lg-1"></div>
                            {% for f in form %}

                                {% if f.name in instance.micro %}


                                    <div class="mb-3 col-lg-1 p-1  macro-salt text-center">
                                        <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                        {{ f }}
                                        <div class="error">{{ f.errors }}</div>
                                    </div>


                                {% endif %}


                            {% endfor %}


                        </div>

                        <div class="row">
                            <h5>Составы солей</h5>
                        </div>

                        <div class="row salts">


                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-1 micro-w-100">
                                    <label for="">доля (%)</label>
                                </div>
                                <div class="col-lg-1 micro-w-100 ps-0 text-left">
                                    <label for="">граммы</label>
                                </div>
                            </div>
                            {% for salt, salt_data in instance.salt_micro_dict.items %}
                                <div class="row salt-row">
                                    <div class="col-2 col-lg-2 d-sm-flex pt-2 justify-content-start  ">
                                        <span id="id_name-{{ salt_data.name }}"
                                              class="salt-name-formula">{{ salt_data.name }} </span>
                                        <span class="ml-2 salt-formula">{{ salt|title }}</span>
                                    </div>
                                    <div class="mb-1 text-center col-lg-6 p-1 d-flex align-items-center justify-content-start">

                                        <input type="number" name="d{{ salt }}"
                                               value="{{ instance|getattribute:salt_data.d|hpg_float_format }}"
                                               step="0.01" class="form-control d-inline-block micro-w-100 w-115 precalc"
                                               required=""
                                               id="id_d{{ salt }}">

                                        <input type="number" name="g{{ salt }}"

                                               value="{{ instance|getattribute:salt_data.g|floatformat:3 }}"
                                               step="0.01"
                                               class="form-control w-115 micro-w-100 d-inline-block precalc" required=""
                                               id="id_g{{ salt }}">
                                    </div>
                                </div>

                            {% endfor %}


                        </div>


                    </div>



                {% endif %}

            {% if concentrate %}
                    <div class="row">
                       <div class="row">
                            <h5 class=" ">Раствор А</h5>
                        </div>
                        <div class="row  ">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-1 col-1-w text-center">г/л</div>
                                <div class="col-1 col-1-w text-center">г/мл</div>
                                <div class="col-1 col-1-w text-center">мл</div>
                                <div class="col-1 col-1-w text-center">гр. жидк.</div>
                            </div>
                                {% for comsalt, data in instance.concentrate_dict_a.items %}
                                    <div class="row">
                                                 <div class="col-4">
                                                    <p>{{ instance.captions|get:data.name  }}</p>
                                                </div>

                                                    {% for salt in data.data %}
                                                        <div class="col-1 col-1-w">
                                                        <input type="number" name="{{ salt }}"
                                                               value="{{ instance|getattribute:salt|floatformat:2 }}"
                                                               step="{% if forloop.counter == 2 %}0.0{% endif %}1"
                                                               class="form-control w-100  d-inline-block precalc" required=""
                                                           id="id_{{ salt }}">
                                                        </div>
                                                    {% endfor %}

                                                    {% for salt in data.calc_data %}
                                                         <div class="col-1 col-1-w">
                                                        <input type="number" name="{{ salt }}"
                                                               value="{{ instance|getattribute:salt|floatformat:2 }}"
                                                               step="1"
                                                               class="form-control w-100  d-inline-block precalc" disabled
                                                           id="id_{{ salt }}">
                                                          </div>
                                                    {% endfor %}


                                    </div>
                                {% endfor %}
                        </div>

                        <div class="row">
                            <h5 class=" ">Раствор Б</h5>
                        </div>
                        <div class="row  ">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-1 col-1-w text-center">г/л</div>
                                <div class="col-1 col-1-w text-center">г/мл</div>
                                <div class="col-1 col-1-w text-center">мл</div>
                                <div class="col-1 col-1-w text-center">гр. жидк.</div>
                            </div>
                                {% for comsalt, data in instance.concentrate_dict_b.items %}
                                    <div class="row">
                                                 <div class="col-4">
                                                    <p>{{ instance.captions|get:data.name  }}</p>
                                                </div>

                                                    {% for salt in data.data %}
                                                        <div class="col-1 col-1-w">
                                                        <input type="number" name="{{ salt }}"
                                                               value="{{ instance|getattribute:salt|floatformat:2 }}"
                                                               step="{% if forloop.counter == 2 %}0.0{% endif %}1"
                                                               class="form-control w-100  d-inline-block precalc" required=""
                                                           id="id_{{ salt }}">
                                                        </div>
                                                    {% endfor %}

                                                    {% for salt in data.calc_data %}
                                                         <div class="col-1 col-1-w">
                                                        <input type="number" name="{{ salt }}"
                                                               value="{{ instance|getattribute:salt|floatformat:2 }}"
                                                               step="1"
                                                               class="form-control w-100  d-inline-block precalc" disabled
                                                           id="id_{{ salt }}">
                                                          </div>
                                                    {% endfor %}


                                    </div>
                                {% endfor %}
                        </div>
                        <div class="row">
                                <div class="col-1">
                                    <p>Тара А</p>
                                </div>
                              <div class="col-1 col-1-w">


                                 <input type="number" name="taml"
                                       value="{{ instance|getattribute:"taml"|floatformat:2 }}"
                                       step="1"
                                       class="form-control w-100  d-inline-block precalc" required=""
                                   id="id_taml">
                              </div>



                        </div>
                    <div class="row">
                                   <div class="col-12">
                               <p id="id_suma">
                                   {{ instance.suma }}


                               </p>
                                         <p id="id_lvola">
                                   {{ instance.lvola }}
                               </p>

                                           </div>

                    </div>

                       <div class="row">

                                  <div class="col-1">
                                    <p>Тара Б</p>
                                </div>
                              <div class="col-1 col-1-w">


                                 <input type="number" name="tbml"
                                       value="{{ instance|getattribute:"tbml"|floatformat:2 }}"
                                       step="1"
                                       class="form-control w-100  d-inline-block precalc" required=""
                                   id="id_tbml">
                              </div>
                        </div>
                    <div class="row">
                             <div class="col-12">
                               <p id="id_sumb"> {{ instance.sumb }} </p>
                              <p id="id_lvolb"> {{ instance.lvolb }}  </p>

                             </div>
                    </div>



                    </div>



                {% endif %}



        </form>
        {% if micro %}
            <div class="row">
                <div class="row mt-3">
                    <p>Всего необходимо добавить на
                        <input type="number" name="v_micro"
                               value="{{ instance.v_micro|floatformat:0 }}"
                               step="500" class="form-control w-115 d-inline-block precalc" required=""
                               id="id_v_micro"> <span class="text-danger">мл</span>

                        <input type="number" name="weight_micro"
                               {% if instance.micro_calc_mode == 'u' %}disabled{% endif %}
                               value="{{ instance.weight_micro|floatformat:2 }}"
                               step="0.01" class="form-control w-115 d-inline-block precalc" required=""
                               id="id_weight_micro"> грамм


                    </p>

                </div>

                <div class="row">
                    <p id="id_micro_text">{{ instance.micro_text }} </p>
                    <p id="id_micro_sostav">{{ instance.micro_sostav }}</p>
                </div>


            </div>
        {% endif %}
        <div class="row mt-5 mb-5">
            <div class="col-lg-6 m-auto">
                <button class="btn btn-primary d-block m-auto"  type="submit" name="from" value="{% if micro %}micro{% endif %}{% if macro %}macro{% endif %}"
                        form="form-{{ instance.pk }}--{% if micro %}micro{% endif %}{% if macro %}macro{% endif %}">{{ btn_name }}</button>
            </div>
        </div>


    </div>


</div>
</div>