Django==4.1
django-tables2==2.4.1
wheel
gunicorn
requests
django_compressor
beautifulsoup4
lxml
html5lib
calmjs.parse
brotli
csscompressor
mysqlclient
netifaces
django-import-export
simplejson
django-fancybox
Pillow
django-cleanup
wagtail
django-redis
django-allauth