{% extends 'project/base.html' %}

{% block content %}
<div class="container">
<div class="row text-center">
    <h1>Добро пожаловать!</h1>
</div>
<div class="row">
    <p>
        Данный калькулятор-генератор это клон <a href="https://github.com/WEGA-project/wega-hpg">HPG</a> по логике.
        Видеообзор возможностей можно посмотреть <a href="https://youtu.be/wqMJIDWfleA?list=PLJN9AaOnxbwHULWPNJvjbBX3Eb6zUkphw">тут</a>.
        Предложения по развитию, баги, фича-реквесты пишите в канал калькулятора <a href="https://t.me/wega_web_hpg">сюда</a>
    </p>
</div>

<div class="row text-center">
    <a href="https://t.me/ponics_ru/4">Чат по гидропонике</a>
    <a href="https://t.me/wega_web_hpg">Чат по калькулятору ВЕБ версия</a>
    <a href="https://t.me/wega_mixer/3">Чат по миксеру</a>
    <a href="https://t.me/wega_hpg/6">Чат по калькулятору десктопная версия</a>
    <a href="https://t.me/chilihead">Чат по перцам и рецептам из них</a>
    <a href="https://t.me/gidroponika_komnatnykh_rasteniy">Чат по комнатным растениям на гидропонике</a>
</div>


<div class="row text-center">
    {% if not request.user.is_authenticated %}
        <p class="text-danger">Авторизуйтесь для работы в калькуляторе</p>
    {% endif %}
</div>







</div>
{% endblock %}
