{% extends 'project/base.html' %}

{% block content %}
<div class="container">
<div class="row text-center">
    <h1>Добро пожаловать</h1>
</div>



<div class="row text-center">
    <p>Тут будут новости</p>
</div>

<div class="row text-center">
    {% if not request.user.is_authenticated %}
        <p class="text-danger">Авторизуйтесь для работы</p>
    {% endif %}
</div>


<div class="row text-center">
    <a href="https://t.me/ponics_ru/4">Чат по гидропонике</a>
    <a href="https://t.me/wega_hpg/6">Чат по калькулятору и его десктопная версия</a>
    <a href="https://t.me/wega_mixer/3">Чат по миксеру</a>
</div>


</div>
{% endblock %}
