<link href='{{ base_url() }}/css/nav.css' rel='stylesheet' type='text/css' crossorigin="anonymous|use-credentials">
<nav role="navigation">
	<ul>
		<li>
			<img src="{{ base_url() }}/img/wega-mini.png" width="30" height="32.5" crossorigin="anonymous|use-credentials"/>
			<span style="vertical-align: 0.60em">

				WB4 PEPPER

			</span>
			<ul>
				<li><a href="/">Общий</a></li>
				<li><a href="/">NAMESYS 1</a></li>
			</ul>
		</li>


		<li>
			<a href="#">Анализ</a>
			<ul>
				<li><a href="status.phpSTFIND">Текущие измерения</a></li>
				<li><a href="rep.phpSTFIND">Сводный анализ</a></li>
				<li><a href="helperprev.phpSTFIND">Помощник</a></li>
				<li><a href="temp.phpSTFIND">Температура</a></li>
				<li><a href="owm.phpSTFIND">Погода</a></li>
				<li><a href="mixer.phpSTFIND">Миксер</a></li>
				<li><a href="tmp/s.NS.csv">Скачать csv</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Параметры</a>
			<ul>
				<li><a href="main.phpSTFIND">Основные параметры</a></li>
				<li><a href="srctbl.phpSTFIND">База</a></li>
				<li><a href="conformity.phpSTFIND">Сопоставление полей</a></li>
				<li><a href="termoresistor.phpSTFIND">Температурная компенсация</a></li>
				<li><a href="CalibrateEC.phpSTFIND">Калибровка EC</a></li>
				<li><a href="photoresistor.phpSTFIND">Калибровка фоторезистора</a></li>
				<li><a href="createlev.phpSTFIND">Калибровка уровня</a></li>
				<li><a href="level.phpSTFIND">Фильтрация уровня</a></li>
				<li><a href="ph.phpSTFIND">Калибровка pH</a></li>
				<li><a href="events.phpSTFIND">Настройка уведомлений</a></li>
				<li><a href="rmfunc.phpSTFIND">Пересоздание функций</a></li>
			</ul>
		</li>
		<li>
			<a href="owm.phpSTFIND">Погода</a>
			<ul>
				<li><a href="#">Настройка</a></li>
			</ul>
		</li>
		<li>
			<a href="#">О проекте</a>
			<ul>
				<li>
					<strong style="font-size: 10px">Версия от: VERSION</strong>
				</li>
				<li>
					<a href="https://github.com/WEGA-project/wega">Обновления GIT</a>
				</li>
				<li>
					<a href="https://t.me/WEGA_SERVER">Группа поддержки</a>
				</li>
				<li>
					<a href="https://github.com/WEGA-project/wega/wiki">WiKI проекта</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
