{% load getattr %}



<div class="row">


    <div class="row">
        <h5 class=" ">Микропрофиль в <span class="text-danger">мкг/л</span> (ppm)</h5>
    </div>
    <div class="row row-cols-auto   d-flex flex-row align-content-start">

        {% for f in form %}
            {% if f.name in instance.micro %}
                <div class="mb-3 col-lg-1 p-1  macro-salt text-center"      >
                    <label for="{{ f.id_for_label }}"    data-bs-toggle="tooltip" data-bs-placement="top" title="{{ instance.texts|get:f.name}}"
                           class="form-label">{{ f.label }}</label>
                     <input type="number" name="{{ f.name }}"
                               value="{{ f.value|hpg_float_format }}"
                                class="form-control d-inline-block micro-w-100 w-115 precalc"
                                {% if instance.micro_calc_mode == 'b' and f.name  != 'b' %}disabled{% endif %}
                               required=""  id="id_{{ f.name }}">
                    <div class="error">{{ f.errors }}</div>
                </div>


            {% endif %}


        {% endfor %}


    </div>

    <div class="row">
        <h5>Составы солей</h5>
    </div>

    <div class="row salts">


        <div class="row">
            <div class="col-3 col-lg-2"></div>
            <div class="mb-1 text-center col-8  col-lg-6 p-1 d-flex align-items-center justify-content-start ">
            <div class="col-sm-2 col-4">
                <label for="" >доля (%)</label>
            </div>
            <div class="col-4">
                <label id='grams_micro_up' class=" {% if instance.micro_calc_mode == 'b' %}d-none{% endif %}" for="">граммы</label>
            </div>
            </div>
        </div>
        {% for salt, salt_data in instance.salt_micro_dict.items %}

            <div class="row salt-row">
                <div class="col-3 col-lg-2 d-sm-flex pt-2 justify-content-start  ">
                    <span id="id_name-{{ salt_data.name }}" class="salt-name-formula">{{ salt_data.name }} </span>
                    <span class="ml-2 salt-formula">{{ salt|title }}</span>
                </div>
                <div class="mb-1 text-center col-8  col-lg-6 p-1 d-flex align-items-center justify-content-start">
                    <div class="col-sm-2 col-4">
                        <input type="number" name="d{{ salt }}"
                               value="{{ instance|getattribute:salt_data.d|hpg_float_format }}"
                               step="0.01" class="form-control d-inline-block micro-w-100 w-115 precalc"
                               required=""
                               id="id_d{{ salt }}">
                    </div>
                    <div class="col-4">
                    <input type="number" name="g{{ salt }}"

                           value="{{ instance|getattribute:salt_data.g|hpg_float_format:3 }}"

                           step="0.01"
                           class="{% if instance.micro_calc_mode == 'b' %}d-none{% endif %} form-control w-115 micro-w-100 d-inline-block precalc" required=""
                           id="id_g{{ salt }}">
                </div>
                </div>
            </div>

        {% endfor %}


    </div>


</div>
<div class="row">
                <div class="row mt-3">
                    <p>Всего необходимо добавить на
                        <input type="number" name="v_micro"
                               value="{{ instance.v_micro|hpg_float_format:0 }}"
                               step="500" class="form-control w-115 d-inline-block precalc" required=""
                               id="id_v_micro"> <span class="text-danger">мл</span>

                        <input type="number" name="weight_micro"
                               {% if instance.micro_calc_mode == 'u' %}disabled{% endif %}
                               value="{{ instance.weight_micro|hpg_float_format:2 }}"
                               step="0.01" class="form-control w-115 d-inline-block precalc" required=""
                               id="id_weight_micro"> грамм


                    </p>

                </div>

                <div class="row">
                    <p id="id_micro_text">{{ instance.micro_text }} </p>
                    <p id="id_micro_sostav">{% if instance.micro_sostav  %}{{ instance.micro_sostav }}{% endif %}</p>
                </div>


            </div>
