{% load getattr %}
<div class="row">
                       <div class="row">
                            <h5 class=" ">Цены на соли(указывается за 1 грамм)</h5>
                        </div>
                        <div class="row  ">
                            <div class="row">
                                <div class="col-2">Цена за грамм</div>

                                <div class="col-6  text-center"></div>
                            </div>
                                {% for comsalt, data in instance.mixer_dict.items %}
                                    <div id={{ data.p  }} class="row {% if instance.micro_calc_mode == 'b'  and  comsalt in instance.micro %}d-none{% endif %}">
                                                <div class="col-2">
                             <input type="number"  name="{{ data.p }}"
                                                        value="{{  instance|getattribute:data.p|hpg_float_format:5 }}"
                                                        step="0.1"
                                                        class="form-control w-100  d-inline-block precalc"
                                                        required
                                                        id="id_{{ data.p }}"
                                                      >


                                                </div>






                     <div class="col-7 d-flex flex-row">
                         {% if comsalt in instance.salt_micro_dict %}
                         <div class="col-6">
                             {{ instance.captions|get:comsalt  }}={{ instance|getattribute:data.d   }}%
                             </div>

                          <div class="col-2"><span id="id_{{ comsalt }}" >{{ instance|getattribute:data.calc|divide:1000|hpg_float_format:5  }}</span>г.</div>
                         <div class="col-2"> <span class="">
                                     {{    instance|getattribute:data.calc_p|hpg_float_format:5 }} р.
                         </span></div>


                         {% else %}
                         <div class="col-6">{{ instance.captions|get:comsalt  }} </div>
                         <div class="col-2">
                             <span   id="id_{{ comsalt  }}">  {{ instance|getattribute:data.calc|hpg_float_format:5 }}   </span>      г.</div>
                            <div class="col-2">  <span id = "id_{{ data.calc_p }}" class="">{{ instance|getattribute:data.calc_p|hpg_float_format:5 }}</span> р.</div>

                         {% endif %}
                     </div>
                                    </div>
                                {% endfor %}
                        </div>





                    </div>