{% extends 'project/base.html' %}

{% block content %}
    <h1 class="text-center">{{title}}</h1>

    <form method="post" class="login-form m-auto">
        {% csrf_token %}
        {% for f in form %}
            <div class="mb-3">
                <label for="{{ f.id_for_label }}" class="form-label">{{f.label}}</label>
                {{ f }}
                <div class="error">{{ f.errors }}</div>
            </div>
        {% endfor %}

        <button class="btn btn-primary d-block m-auto" type="submit">{% if btn_name %}{{ btn_name }}{% else %}Регистрация{% endif %}</button>

    </form>

{% endblock %}
